<!DOCTYPE html>
<html lang="en">

<head>
    <script  src="{{url_for('static', filename='loan.js')}}" ></script>
    <link rel="stylesheet" href="{{url_for('static', filename='pico.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Loan Prediction</title>
    <style>
        .mySlides {display:none;}
        </style>
</head>

<body>

    <div class="navbar1">
        <nav class="navbar">
            <ul>

                <marquee width="100%" behavior="scroll" bgcolor="red" color="white">  
                    <li class="domain"><a href="{{ url_for('alankar') }}" ><b>Welcome to Bike on Rent selling prediction</b></a></li>
                    </marquee>  
               


    </ul>
    </nav>
    </div>

    <div>
        <img src="{{url_for('static', filename='bikechalo.jpg')}}" style="width: 100%;">
    </div>



    


    
    <table border="3" width="100%">
        <tr>
            <td bgcolor="black" width="25%">
                <font color="white">Quick Links</font>
            </td>
            <td bgcolor="black" width="25%">
                <font color="white">Follow us on</font>
            </td>
            <td bgcolor="black" width="25%">
                <font color="white">Contact us</font>
            </td>


        </tr>
        <tr>
            <td bgcolor="black">
                <ul>
                    <li><a href="#">
                            <font backgo color="white">Home</font>
                        </a></li>
                    <li><a href="#">
                            <font color="white">About</font>
                        </a></li>
                    <li><a
                            href="#">
                            <font color="white">Amazon</font>
                        </a></li>
                    <li><a
                            href="#">
                            <font color="white">Flipkart</font>
                        </a></li>
                </ul>
            </td>
            <td bgcolor="black">
                <ul>
                    <li>
                        <font color="white">Facebook</font>
                    </li>
                    <li>
                        <font color="white">Twitter</font>
                    </li>
                    <li>
                        <font color="white">Linkdin</font>
                    </li>
                    <li>
                        <font color="white">Youtube</font>
                    </li>
                </ul>
            </td>
            <td bgcolor="black">
                <ul>
                    <li>
                        <font color="white">Omkar</font>
                    </li>
                    <li>
                        <font color="white">04h4k44</font>
                    </li>
                    <li>
                        <font color="white">India</font>
                    </li>
                    <li>
                        <font color="white">8k9j0j</font>
                    </li>
                </ul>
            </td>

        </tr>
    </table>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>